.producto-imagen {
  height: 220px;
  object-fit: contain;
  user-select: none;
}

.producto {
  cursor: pointer;
  transition: transform .2s ease, box-shadow .2s ease;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.15) !important;
}

.descripcion {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.precio, .descripcion{
    user-select: none;
}